
<IfModule mod_expires.c>
  ExpiresActive On
  <FilesMatch "\.(png|jpe?g|gif|css|js|html)$">
    ExpiresDefault "access plus 6 months"
  </FilesMatch>
</IfModule>

# <IfModule mod_deflate.c>
#     AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript
# </IfModule>

# DirectoryIndex file1.html
# #Options -Indexes

# Redirect 301 /apache/file1 /apache/dir-test/file1.html

# RewriteEngine On
# RewriteRule rewrite-test/index.html /apache/rewrite-test/tmp.html
# RewriteRule rewrite-test/index.html - [F]
# RewriteBase /apache/rewrite-test/
# RewriteCond %{QUERY_STRING} p=(.+)&?
# RewriteRule rewrite-test/sub1 sub1/%1? [R]
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule rewrite-test/sub2/(.+) sub1/$1

# RewriteRule rewrite-test/(\w+).html$ $1.php
# RewriteCond %{HTTP_ACEPT} image/webp
# RewriteCond /Applications/MAMP/htdocs/fullstack-webdev-master/070_Apacheの基礎/rewrite-test/imgs/$1.webp  -f [OR]
# RewriteRule /?imgs/(.*).(jpe?g|png) imgs/$1.webp

# RewriteCond %{HTTP_HOST} ^www\.dev\.local [NC]
# RewriteRule .? http://dev.local:8888%{REQUEST_URI} [R=301]

# RewriteCond %{HTTP_HOST} ^vhost\.dev\.local [NC]
# RewriteCond %{REQUEST_URI} !^/apache/rewrite-test/vhost
# RewriteRule (.*) vhost/$1
